PORT=5000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=<cluster-name>
MONGODB_DB_NAME=craft
MONGODB_LIVE_COLLECTION=craft-live-data
MONGODB_PTU_COLLECTION=craft-ptu-data
